@article{coqintro,
author = {Paulin-Mohring, Christine},
year = {2012},
month = {01},
pages = {},
title = {Introduction to the Coq Proof-Assistant for Practical Software Verification},
isbn = {978-3-642-35745-9},
journal = {Lecture Notes in Computer Science},
doi = {10.1007/978-3-642-35746-6_3}
}